<div class="container-fluid">
    <h2 class="text-center">Create a new Goal</h2>
    <hr>
    <form >
        <div class="form-group">
  
            <label for="name">NAME</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="author">AUTHOR</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="saying">QUOTE</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <button type="submit" class="btn btn-success">Add Goal</button>

    </form>
  </div>
